input#startbutton, input#stopbutton{
              width:10em;
              }

h2{
              font-size:80%;
              font-weight:400;
              background-color:#ccffcc;
              }

button#startstop{
font-size:2em;
font-weight:bold;
width: 100%;

}

#download{
border-radius: 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;

background-color:#222222;
padding:0.3em;
font-size:2em;
color:#ff6633;
font-weight:600;
text-decoration:none;
}
