input#startbutton, input#stopbutton{
              width:70%;
              }

h2{
              font-size:2em;
              font-weight:600;
              background-color:#ccffcc;
              }

button#startstop{
font-size:2em;
font-weight:400;
width: 60%;

}

#download{


background-color:#222222;
padding:0.2em;
font-size:2em;
color:#ff6633;
font-weight:200;
}
